.hotel_container {
	text-align: center;
}

.hotel_background {
	position: relative;
}

.hotel_title {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-size: calc(18px + (54 - 18) * ((100vw - 320px) / (1440 - 320)));
	font-family: PoppinsBold;
	color: white;
}

.hotel_description {
	font-size: calc(12px + (18 - 12) * ((100vw - 320px) / (1440 - 320)));
	font-family: PoppinsLight;
	line-height: 120%;
	margin: 30px 0px;
	color: #474747;
	padding: 0px calc(20px + (188 - 20) * ((100vw - 320px) / (1440 - 320)));
}

.hotel_images_container,
.destination_images_container {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: start;
	margin: 20px 0px;
	overflow: hidden; /* fixed the issue with vanilla tilt on Safari */
}

.hotel_image_container,
.destination_image_container {
	border-radius: 8px;
	overflow: hidden;
	margin: 10px 10px;
}
