.carousel_title {
	width: 100%;
	position: absolute;
	top: 50%;
	left: 50%;
	z-index: 1;
	transform: translate(-50%, -50%);
	text-transform: uppercase;
	font-size: calc(18px + (64 - 18) * ((100vw - 320px) / (1440 - 320)));
	font-weight: 700;
	color: white;
	font-family: PoppinsBold;
	text-align: center;
}

.destination_container {
	margin-top: calc(50px + (121 - 50) * ((100vw - 320px) / (1440 - 320)));
	padding: 0px calc(10px + (165 - 10) * ((100vw - 320px) / (1440 - 320)));
}

.destination_title {
	font-size: calc(16px + (42 - 16) * ((100vw - 320px) / (1440 - 320)));
	color: #302842;
	font-family: PoppinsBold;
	margin-bottom: calc(20px + (56 - 20) * ((100vw - 320px) / (1440 - 320)));
}

.destination_card_container {
	display: flex;
	gap: 30px;
}

.destination_card {
	height: 425px;
	transition: width 0.3s ease;
	position: relative;
}

.destination_card:hover {
	cursor: pointer;
}

.destination_card_image {
	width: 100%;
	height: 100%;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	border-radius: 40px;
}

.destination_card_title {
	width: 100%;
	position: absolute;
	bottom: 45px;
	left: 34px;
	color: #fcfdff;
	text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	font-size: 32px;
	font-family: PoppinsBold;
}

.destination_view_all {
	margin: 54px auto;
	text-align: right;
	color: #777497;
	font-size: 14px;
}

.destination_view_all:hover {
	cursor: pointer;
}

.top_tours_container {
	max-width: 1280px;
	margin: 0 auto;
	padding: 0px calc(10px + (20 - 10) * ((100vw - 320px) / (1440 - 320)));
	overflow: hidden; /* fixed the issue with vanilla tilt on Safari */
}

.top_tours_title {
	text-align: center;
	margin: calc(45px + (80 - 45) * ((100vw - 320px) / (1440 - 320))) 0px;
	font-family: PoppinsBold;
	font-size: calc(16px + (42 - 16) * ((100vw - 320px) / (1440 - 320)));
	font-weight: 600;
	color: #302842;
}

.top_tours_image_title {
	width: 100%;
	position: absolute;
	bottom: calc(20px + (38 - 20) * ((100vw - 320px) / (1440 - 320)));
	left: 50%;
	transform: translateX(-50%);
	font-size: calc(12px + (20 - 12) * ((100vw - 320px) / (1440 - 320)));
	font-family: PoppinsBold;
	font-weight: 600;
	text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	color: #fcfdff;
	padding: 0px 10px;
}

.main_hotels_container,
.transport_container {
	margin: calc(45px + (200 - 45) * ((100vw - 320px) / (1440 - 320))) 0;
	padding: 0px 20px;
}

.main_hotels_title {
	text-align: center;
	color: #302842;
	font-size: calc(16px + (42 - 16) * ((100vw - 320px) / (1440 - 320)));
	font-family: PoppinsBold;
	margin-bottom: calc(24px + (68 - 24) * ((100vw - 320px) / (1440 - 320)));
}

.main_hotels_card_container,
.transport_card_container {
	max-width: 1100px;
	display: flex;
	overflow: auto;
	margin: 0 auto;
}

.main_hotels_card_container::-webkit-scrollbar,
.transport_card_container::-webkit-scrollbar {
	display: none;
}

.main_hotel_card,
.transport_card {
	flex: 1 0 calc(212px + (355 - 212) * ((100vw - 320px) / (1440 - 320)));
	position: relative;
	height: calc(174px + (288 - 174) * ((100vw - 320px) / (1440 - 320)));
	padding: 10px 7.5px;
}

.main_hotel_card:hover,
.transport_card:hover {
	cursor: pointer;
}

.main_hotel_card_image,
.transport_card_image {
	width: 100%;
	height: 100%;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	border-radius: 8px;
}

.main_hotels_card_title {
	width: 100%;
	position: absolute;
	bottom: 35px;
	left: 0;
	text-align: center;
	font-size: calc(12px + (20 - 12) * ((100vw - 320px) / (1440 - 320)));
	font-family: PoppinsBold;
	text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	color: #fcfdff;
}

.main_hotels_view_all {
	max-width: 1100px;
	margin: 54px auto;
	text-align: right;
	color: #777497;
	font-size: 14px;
}

.main_hotels_view_all:hover {
	cursor: pointer;
}

.transport_title {
	font-size: calc(24px + (42 - 24) * ((100vw - 320px) / (1440 - 320)));
	font-family: PoppinsBold;
	color: #302842;
	margin-bottom: calc(30px + (79 - 30) * ((100vw - 320px) / (1440 - 320)));
	text-align: center;
}

.transport_card_title {
	width: 100%;
	position: absolute;
	bottom: calc(35px + (55 - 35) * ((100vw - 320px) / (1440 - 320)));
	left: calc(20px + (40 - 20) * ((100vw - 320px) / (1440 - 320)));
	font-size: calc(12px + (18 - 12) * ((100vw - 320px) / (1440 - 320)));
	text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	color: #fcfdff;
}

.seats {
	bottom: calc(15px + (30 - 15) * ((100vw - 320px) / (1440 - 320)));
}

.main_visa_container {
	position: relative;
	background-color: #ff7a5c;
	height: calc(200px + (560 - 200) * ((100vw - 320px) / (1440 - 320)));
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: start;
	padding-left: calc(20px + (167 - 20) * ((100vw - 320px) / (1440 - 320)));
}

.main_visa_container img {
	position: absolute;
	top: 0;
	right: 5%;
	height: 100%;
}

.main_visa_title {
	width: calc(250 + (800 - 250) * ((100vw - 320px) / (1440 - 320)));
	color: white;
	font-size: calc(24px + (74 - 24) * ((100vw - 320px) / (1440 - 320)));
	font-weight: 600;
	text-transform: capitalize;
	line-height: 120%;
}

.main_visa_container a {
	position: relative;
	z-index: 1;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	background-color: #271a4b;
	color: white;
	border-radius: 100px;
	margin-top: 28px;
	font-size: 16px;
	padding: 10px 20px;
}

@media (max-width: 480px) {
	.main_hotels_view_all {
		margin: 30px 0px;
		font-size: 12px;
	}

	.destination_view_all {
		margin: 30px 0px;
		font-size: 12px;
	}
}

@media (max-width: 768px) {
	.destination_card_container {
		max-width: 100%;
		gap: 15px;
		overflow: auto;
	}

	.destination_card {
		flex-shrink: 0;
		height: 250px;
	}

	.destination_card_title {
		bottom: 20px;
		left: 20px;
		font-size: 16px;
	}

	.destination_card_image {
		border-radius: 20px;
	}
}
