.tour_container {
	text-align: center;
	padding: 110px 20px 20px 20px;
}

.tour_segment_container {
	margin-bottom: 50px;
	border-radius: 8px;
	overflow: auto;
}

.tour_content_title {
	margin-bottom: 30px;
	font-size: 24px;
	font-weight: 600;
}

.tour_content_sub_title {
	margin-bottom: 30px;
	font-size: 18px;
	font-weight: 500;
	color: #000000e0;
}

.tour_content {
	font-size: 16px;
	font-weight: 400;
	line-height: 24px;
	color: #00000073;
	margin-bottom: 30px;
}
