.tour_container {
	text-align: center;
}

.tour_background {
	position: relative;
}

.tour_title {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-size: calc(14px + (54 - 14) * ((100vw - 320px) / (1440 - 320)));
	font-family: PoppinsBold;
	color: white;
}

.tour_segment_container {
	width: 90%;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: calc(20px + (50 - 20) * ((100vw - 320px) / (1440 - 320)));
	margin-top: calc(30px + (92 - 30) * ((100vw - 320px) / (1440 - 320)));
	border-radius: 8px;
	overflow: auto;
}

.tour_content_container {
	padding: 0px calc(20px + (188 - 20) * ((100vw - 320px) / (1440 - 320)));
}

.tour_content_title {
	margin-bottom: 30px;
	font-size: calc(16px + (24 - 16) * ((100vw - 320px) / (1440 - 320)));
	font-family: PoppinsBold;
	color: #302742;
}

.tour_content {
	font-size: calc(12px + (18 - 12) * ((100vw - 320px) / (1440 - 320)));
	font-family: PoppinsLight;
	line-height: 120%;
	color: #474747;
	margin-bottom: 30px;
}
