.tours_container {
	padding-top: 90px;
}

.tours_content_container {
	height: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
	overflow: hidden; /* fixed the issue with vanilla tilt on Safari */
}

.tours_card {
	width: 300px;
	height: 300px;
	margin: 30px 20px;
}

.tours_card_image_container {
	width: 100%;
	overflow: hidden;
}

.tours_card_image {
	width: 100%;
}

.tours_card_title {
	font-weight: 500;
	padding: 10px;
	text-align: center;
	font-family: Avenir;
}
