footer {
	background-color: #271a4b;
	padding: 125px 20px 0px 20px;
}

.footer_container {
	max-width: 1130px;
	margin: 0 auto;
}

.footer_logo {
	width: 30px;
	height: 30px;
	margin-bottom: 35px;
}

.footer_logo img {
	width: 100%;
}

.footer_title {
	color: #a29fc1;
	font-size: 14px;
	margin-bottom: 20px;
}

.footer_links {
	color: white;
	font-family: PoppinsLight;
	font-size: 14px;
}

.footer_links:hover {
	color: #ffb423;
}

.contact {
	color: white;
	font-family: PoppinsLight;
	font-size: 20px;
	margin-bottom: 40px;
}

.col1 {
	border-right: 1px solid #4d3e76;
}

.col2 {
	border-right: 1px solid #4d3e76;
	padding-left: 48px;
}

.col3 {
	padding-left: 48px;
}

.copyright {
	color: #a29fc1;
	padding: 25px 0px;
	border-top: 1px solid #4d3e76;
	margin-top: 48px;
	text-align: center;
}

@media (max-width: 1024px) {
	footer {
		padding: 125px 50px 0px 50px;
	}

	.footer_title {
		font-size: 12px;
	}

	.contact {
		font-size: 14px;
	}

	.footer_links {
		font-size: 12px;
	}

	.copyright {
		font-size: 12px;
	}

	.col1 {
		padding-right: 20px;
	}

	.col2 {
		margin-right: 50px;
		border: none;
	}

	.col3 {
		margin-top: 50px;
		padding-left: 0px;
	}
}

@media (max-width: 670px) {
	.col1 {
		padding-right: 15px;
	}

	.col2 {
		margin-right: 0px;
	}
}

@media (max-width: 500px) {
	footer {
		padding: 125px 20px 0px 20px;
	}

	.col1 {
		padding-right: 0px;
	}
}

@media (max-width: 425px) {
	.contact {
		font-size: 12px;
	}

	.footer_links {
		font-size: 10px;
	}

	.copyright {
		font-size: 10px;
	}
}
