@font-face {
	font-family: Avenir;
	src: url('/fonts/Avenir-Light-07.ttf') format('truetype');
}

@font-face {
	font-family: Lucida;
	src: url('/fonts/LucidaGrande-01.ttf') format('truetype');
}

@font-face {
	font-family: Poppins;
	src: url('/fonts/Poppins-SemiBold.ttf') format('truetype');
}

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	border: 0;
	text-decoration: none;
	box-sizing: border-box;
	font-family: Lucida;
}

.content_container {
	flex: 1;
	background-color: white;
}

.card:hover {
	cursor: pointer;
}
