.about_background {
	position: relative;
}

.about_background_title {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-size: calc(18px + (54 - 18) * ((100vw - 320px) / (1440 - 320)));
	font-family: PoppinsBold;
	color: white;
}

.about_content_container {
	max-width: 1064px;
	margin: calc(30px + (69 - 30) * ((100vw - 320px) / (1440 - 320)))
		calc(24px + (188 - 24) * ((100vw - 320px) / (1440 - 320)));
}

.about_title {
	color: #302742;
	font-size: calc(16px + (24 - 16) * ((100vw - 320px) / (1440 - 320)));
	text-align: center;
	margin-top: calc(50px + (144 - 50) * ((100vw - 320px) / (1440 - 320)));
	margin-bottom: 30px;
}

.about_services {
	color: #302742;
	font-size: calc(14px + (20 - 14) * ((100vw - 320px) / (1440 - 320)));
	text-align: center;
	margin-top: 50px;
	margin-bottom: 30px;
}

.about_text {
	color: #474747;
	font-size: calc(12px + (18 - 12) * ((100vw - 320px) / (1440 - 320)));
	font-family: PoppinsLight;
	line-height: 120%;
	margin-bottom: 20px;
}

.under_list {
	margin-top: 30px;
}
